body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    background: radial-gradient(circle, #6ab7f5, #fff);
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

select {
    margin-bottom: 20px;
}

input {
    font-size: 3ex;
    width: 20ch;
    line-height: 5ex;
    padding: 4px;
}

.input-box {
    margin-top: 10px;
    border: 1px dashed gray;
    display: inline-block;
    padding: 10px;
}

h2 {
    text-align: center;
}